<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>productBaseRefarence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61BF3DA120A695B800862E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61BF3DB520A695BB00862E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61BF3DC020A695BB00862E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
